
div.card-header {
  font-size: large;
}

div.card {
  margin-top: 10px
}
div.row {
  margin-top: 10px
}

.center {
  margin: auto;
  display: block;
  width: 50%;
  text-align: center;
  padding: 10px;
}
